<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.khrystal.shortcututils">

    <!-- 快捷方式所需权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name='com.android.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='android.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.htc.launcher.permission.UPDATE_SHORTCUT'/>
    <uses-permission android:name='com.htc.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.miui.mihome2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.miui.mihome2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.aliyun.homeshell.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.aliyun.homeshell.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lenovo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lenovo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.iLoong.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.iLoong.permission.READ_SETTINGS'/>
    <uses-permission android:name='cn.nubia.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='cn.nubia.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.smartisanos.launcher.WRITE_DATABASE'/>
    <uses-permission android:name='com.smartisanos.launcher.READ_DATABASE'/>
    <uses-permission android:name='com.smartisanos.launcher.data.ExportDataProvider'/>
    <uses-permission android:name='com.teslacoilsw.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.teslacoilsw.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.meizu.flyme.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.meizu.flyme.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.ztemt.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.ztemt.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.zte.lqsoft.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.zte.lqsoft.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.baoruan.launcher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.baoruan.launcher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.fineos.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.fineos.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.ibingo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.ibingo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.zui.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.zui.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.qihoo360.screenlock.permission.READ_LOCAL_THEME'/>
    <uses-permission android:name='com.qihoo360.screenlock.permission.WRITE_LOCAL_THEME'/>
    <uses-permission android:name='com.zte.mifavor.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.zte.mifavor.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.tpwlauncher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.tpwlauncher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.sprdlauncher1.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.sprdlauncher1.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.s.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.s.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.zte.mobile.ZteLauncher3D.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.zte.mobile.ZteLauncher3D.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.launcher23.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.launcher23.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.mgyun.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.mgyun.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.asus.launcher3.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.asus.launcher3.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.tsf.shell.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.tsf.shell.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.tul.aviate.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.tul.aviate.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.lenovo.launcherhdmarket.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lenovo.launcherhdmarket.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.hola.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.hola.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.qihoo360.home.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.qihoo360.home.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.slim.slimlauncher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.slim.slimlauncher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huaqin.launcherEx.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huaqin.launcherEx.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.epic.launcher.tw.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.epic.launcher.tw.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.lewalauncher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.lewalauncher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.Dean.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.Dean.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='app.cobo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='app.cobo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.alphalp.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.alphalp.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lollipop.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lollipop.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.l.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.l.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.dlto.atom.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.dlto.atom.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.sprdlauncher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.sprdlauncher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.konka.launcher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.konka.launcher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.mycheering.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.mycheering.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.microsoft.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.microsoft.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.nicelauncher.lolauncher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.nicelauncher.lolauncher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.jui.launcher3.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.jui.launcher3.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.launcher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.launcher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.qihoo360.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.qihoo360.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.lge.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.lge.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='net.qihoo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='net.qihoo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='org.adw.launcher_donut.permission.READ_SETTINGS'/>
    <uses-permission android:name='org.adw.launcher_donut.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher3.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher3.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.twlauncher.settings.READ_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.twlauncher.settings.WRITE_SETTINGS'/>
    <uses-permission android:name='com.anddoes.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.anddoes.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.tencent.qqlauncher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.tencent.qqlauncher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.ebproductions.android.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.ebproductions.android.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='telecom.mdesk.permission.READ_SETTINGS'/>
    <uses-permission android:name='telecom.mdesk.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='dianxin.permission.ACCESS_LAUNCHER_DATA'/>
    <uses-permission android:name='com.modaco.android.launchergb.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.modaco.android.launchergb.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.bbk.launcher2.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.bbk.launcher2.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.htc.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.twlauncher.WRITE_SETTINGS'/>
    <uses-permission android:name='com.sec.android.app.twlauncher.READ_SETTINGS'/>
    <uses-permission android:name='org.adw.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='org.adw.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='org.adwfreak.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='org.adwfreak.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.gau.go.launcherex.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.gau.go.launcherex.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.fede.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.fede.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.oppo.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.oppo.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.nd.android.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.nd.android.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.mylauncher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.mylauncher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huawei.android.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.huawei.android.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.huawei.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.mx.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.mx.launcher.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.android.launcher3.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.android.launcher3.permission.WRITE_SETTINGS'/>
    <uses-permission android:name='com.google.android.launcher.permission.READ_SETTINGS'/>
    <uses-permission android:name='com.google.android.launcher.permission.WRITE_SETTINGS'/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>